/* цвет основоного текста #757575
черный цвет #212121
белый цвет #FFFFFF
белый прозрачный цвет текста rgba(255, 255, 255, 0.6)
акцент # 2196F3
вторичный цвет фона #F5F4FA */
/* темный цвет фона #2F303A */
:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --white-color: #ffffff;
  --transparent-white-color: rgba(255, 255, 255, 0.6);
  --secondary-background-color: #f5f4fa;
  --dark-background-color: #2f303a;
  --card-set-gap: 30px;
  --center-border: 1px solid #ececec;
}
html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
body {
  background-color: var(--white-color);
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  width: 1200px;
}

.list {
  margin: 0;
  padding: 0;

  list-style: none;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.centered {
  text-align: center;
}
/* Logo */
.logo {
  color: var(--accent-color);
  font-family: Raleway, sans-serif;
  text-decoration: none;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}
.logo .black {
  color: var(--title-text-color);
}
.logo .white {
  display: inline-block;
  margin-bottom: 20px;

  color: var(--white-color);
}
/* Header */
.page-header {
  border-bottom: var(--center-border);
}
.main-nav {
  display: flex;
  align-items: center;
}
.main-nav > nav {
  display: flex;
  align-items: center;
}
/* Site-Nav */
.site-nav {
  margin-left: 93px;
}
.site-nav .current {
  color: var(--accent-color);
}
.site-nav a {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--title-text-color);
  text-decoration: none;
}
.site-nav a:hover,
.site-nav a:focus {
  color: var(--accent-color);
}
.site-nav,
.header-contacts {
  display: flex;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.site-nav .item + .item,
.header-contacts .item + .item {
  margin-left: 50px;
}

/* Header Contacts */
.header-contacts {
  margin-left: auto;
}
.header-contacts a {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--primary-text-color);
  text-decoration: none;
}
.header-contacts a:hover,
.header-contacts a:focus {
  color: var(--accent-color);
}

/* Hero */
.hero {
  max-width: 1600px;
  min-height: 600px;
  margin-left: auto;
  margin-right: auto;
  padding: 200px 0;
  text-align: center;

  background-color: var(--dark-background-color);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/overlay.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.hero-title {
  margin-bottom: 30px;

  color: var(--white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.hero-button {
  padding: 10px 32px;
  border: 1px solid transparent;
  border-radius: 4px;

  background-color: var(--accent-color);
  color: var(--white-color);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  cursor: pointer;
  letter-spacing: 0.06em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
/* Sections */
.section-title,
.list-title,
.coworkers-list-title {
  color: var(--title-text-color);
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.section.no-padding {
  padding-top: 0;
}

.section-title {
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
}
.list-title {
  margin-bottom: 10px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}
.list-text {
  font-size: 14px;
  line-height: 1.71;
}
/* Advantadges Section */
.advantages {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.advantages .item {
  width: 270px;
}
.advantages-icon {
  display: flex;
  padding: 25px 0;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  border-radius: 4px;

  background-color: var(--secondary-background-color);
}

/* Examples Section */
.examples {
  display: flex;
  margin-left: calc(-1 * var(--card-set-gap));
  margin-top: calc(-1 * var(--card-set-gap));
  /* margin: -15px; */
}
.examples > .item {
  flex-basis: calc(100% / 3 - var(--card-set-gap));
  margin-left: var(--card-set-gap);
  margin-top: var(--card-set-gap);
  /* margin: 15px; */
}

/* Coworkers/Team Section */
.coworkers {
  background-color: var(--secondary-background-color);
}
.coworkers-list-title {
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
}
.coworkers-position {
  font-size: 16px;
  line-height: 1.19;
}
.team {
  display: flex;
  margin: -15px;
  /* margin-left: calc(-1 * var(--card-set-gap));
  margin-top: calc(-1 * var(--card-set-gap)); */
}
.team > .item {
  margin: 15px;
  /* flex-basis: calc(100% / 3 - var(--card-set-gap));
  margin-left: var(--card-set-gap);
  margin-top: var(--card-set-gap); */

  background-color: var(--white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team-card-content {
  margin: 30px 0;
}

/* Footer */
footer {
  background-color: var(--dark-background-color);
  padding-top: 60px;
  padding-bottom: 60px;
}
.address {
  color: var(--white-color);
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
}
.footer-contacts > .item {
  margin-top: 9px;
}
.footer-contacts a {
  color: var(--transparent-white-color);
  text-decoration: none;
}
.footer-contacts a:hover,
.footer-contacts a:focus {
  color: var(--accent-color);
}
/* Portfolio Filters*/
.filters {
  display: flex;
  justify-content: center;
}
.filters.list {
  margin-bottom: 50px;
}
.filters > .item + .item {
  margin-left: 8px;
}
.filters button {
  border: 1px solid transparent;
  border-radius: 4px;
  padding: 6px 22px;

  background-color: var(--secondary-background-color);
  color: var(--title-text-color);
  text-align: center;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  cursor: pointer;
}
.filters button:hover,
.filters button:focus {
  background-color: var(--accent-color);
  color: var(--white-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* Portfolio Cards */
.card-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
}
.card-text {
  margin-top: 4px;

  font-size: 16px;
  line-height: 1.87;
}
.card-description {
  background-color: var(--accent-color);
  color: var(--white-color);
  font-size: 18px;
  line-height: 1.56;
}
.card-set {
  display: flex;
  flex-wrap: wrap;
  margin-left: calc(-1 * var(--card-set-gap));
  margin-top: calc(-1 * var(--card-set-gap));
}
.card-set > .item {
  flex-basis: calc(100% / 3 - var(--card-set-gap));
  margin-left: var(--card-set-gap);
  margin-top: var(--card-set-gap);
}

.card-content {
  padding: 20px 24px;
  border: var(--center-border);
}
